{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link rel="stylesheet" href=" {% static 'blog/main.css' %} ">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>

    {% if title %}
    <title>Instagram - {{ title }} </title>
    {% else %}
    <title>Instagram</title>
    {% endif %}
</head>

<body>
    
    <nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-top: -5rem;position: fixed;z-index: 2;">
     <h1>  <a class="navbar-brand me-2" href=" {% url 'blog-home' %} " style="padding-left: 12rem;font-size: 30px;"> Instagram </a></h1>
        

        <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarButtonsExample"
            aria-controls="navbarButtonsExample" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars"></i>
        </button>

        <div class="container-fluid collapse navbar-collapse" id="navbarButtonsExample">


            
               
                
                <!-- <li class="nav-item">
                    <a class="nav-link" href=" {% url 'blog-about' %} ">About</a>
                </li> -->
        

            <div class="d-flex align-items-center" style="margin-left: 14%;">
                {% if user.is_authenticated %} 

                <div class="form-group has-search mr-5 mb-1">
                  <small>  <span class="fa fa-search form-control-feedback"></span> </small>
                    <input type="text text-sm" class="form-control" placeholder="Search">
                  </div>
                 
                
                    

                    <a class="nav-link" href=" {% url 'blog-home' %} "> <i class="fa-solid fa-house" style="font-size:25px;color: black;"></i> </a> 
                    <a class="nav-link" href=" {% url 'blog-home' %} "> <i class="fa-solid fa-paper-plane" style="font-size:25px;color: black;"></i> </a>
                    <a class="nav-item nav-link" href="{% url 'post-create' %}"><i class="fa fa-plus-circle" style="font-size:25px;color: black;"></i></a>
                    <a class="nav-item nav-link" href="{% url 'post-create' %}"><i class="fas fa-heart" style="font-size:25px;color: black;"></i></a>
                    <a class="nav-item nav-link" href="{% url 'post-create' %}"><i class="fa-solid fa-bell" style="font-size:25px;color: black;"></i></a>
             
             
                   <a href="{% url 'profile'%}"> <img style="width: 30px;height: 30px;"  class="rounded-circle account-img mt-2" src=" {{ user.profile.image.url }} "></a>
                    
                



               

                  
      
                {% else %}
                
                    <button type="button" class="btn btn-link px-3 me-2">
                        <a href=" {% url 'login' %} ">Login</a>
                    </button>
                    <button type="button" class="btn btn-link me-5">
                        <a href=" {% url 'register' %} ">Register</a>
                    </button>
                    

                {% endif %}
        </div>
        <!-- Collapsible wrapper -->

        <!-- Container wrapper -->
    </nav>
    <hr>
    <!-- Navbar -->
    <main role="main" class="container">
        <div class="row">
            <div class="col-md-8">
                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} ">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
                {% block content %} {% endblock %}
            </div>
            
            <div class="col-md-4" style="position: fixed;margin-left: 60%;">

                   
                <div style="margin-right: 3rem;margin-left: -7rem;">
                    <p> Suggestions for you </p>
                    
                        <a class="list-item"> <a href="{% url 'profile'%}"> <img style="width: 30px;height: 30px;"  class="rounded-circle account-img mt-2" src=" {{ user.profile.image.url }} ">follow</a> <br>
                         </a>
                        <a class="list-item"> <a href="{% url 'profile'%}"> <img style="width: 30px;height: 30px;"  class="rounded-circle account-img mt-2" src=" {{ user.profile.image.url }} ">follow</a><br>
                        </a>
                        <a class="list-item"> <a href="{% url 'profile'%}"> <img style="width: 30px;height: 30px;"  class="rounded-circle account-img mt-2" src=" {{ user.profile.image.url }} ">follow </a> <br>
                        </a>
                        <a class="list-item"> <a href="{% url 'profile'%}"> <img style="width: 30px;height: 30px;"  class="rounded-circle account-img mt-2" src=" {{ user.profile.image.url }} ">follow<br></a>
                   
                        <br><br>
                        <a class="list-item text-muted small"> About<a href=""></a> 
                        <a class="list-item text-muted small"> Help<a href=""></a>.
                        <a class="list-item text-muted small"> API <a href=""></a>.
                        <a class="list-item text-muted small"> Jobs <a href=""></a>.
                        <a class="list-item text-muted small"> Privacy<a href=""></a>.
                        <a class="list-item text-muted small"> Terms<a href=""></a>. <br>
                        <a class="list-item text-muted small"> Top Accounts<a href=""></a>.
                        <a class="list-item text-muted small"> Hashtags<a href=""></a>.
                        <a class="list-item text-muted small"> Language<a href=""></a>
                        <br><br>
                        <a class="list-item text-muted small"> <p>&copy; INSTAGRAM FROM META</p> <a href=""></a>
                  

                        

                   
                </div> 
            </div>
        </div>
    </main>








    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>